TP3/istp3_server/src/main/app/moviemanager.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd">
    <flow name="SoapAddMovieFlow" doc:name="SoapAddMovieFlow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" doc:name="HTTP" path="MovieManage"/>
        <logger message="Got a Soap Request to Add Movie" level="DEBUG" doc:name="Soap Request"/>
        <cxf:jaxws-service doc:name="SOAP" serviceClass="services.IMovieManage"/>
        <component class="services.MovieManage" doc:name="Java"/>
    </flow>
    <flow name="LocalFolderAddMovieFlow" doc:name="LocalFolderAddMovieFlow">
        <file:inbound-endpoint responseTimeout="10000" doc:name="XMLFile Input" path="C:\Users\Joao\Documents\GitHub\eai\TP3\XMLFolder"/>
        <logger message="#[payload:]Got a File" level="INFO" doc:name="File Input"/>
    </flow>
</mule>
