TP3/istp3/src/main/app/moviesubscription.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <jdbc-ee:postgresql-data-source name="ProjectDB" user="postgres" password="postgres" url="jdbc:postgresql://localhost:5432/istp3" transactionIsolation="UNSPECIFIED" doc:name="PostgreSQL Data Source"/>
    <jdbc-ee:connector name="MovieDatabase" dataSource-ref="ProjectDB" validateConnections="true" queryTimeout="-1" pollingFrequency="0" doc:name="Database"/>
    <sub-flow name="SubscribeUser" doc:name="SubscribeUser">
	    <set-variable variableName="SubscriptionType" value=" #[header:INBOUND:subscriptionType]" doc:name="subscriptionType"/>
	    <set-variable variableName="email" value="#[header:INBOUND:email]" doc:name="email"/>
	    <jdbc-ee:outbound-endpoint exchange-pattern="one-way"  queryTimeout="-1" doc:name="Add Subscription" connector-ref="MovieDatabase" queryKey="Add Subscription">
	        <jdbc-ee:query key="Add Subscription" value="INSERT INTO subscription (active, sub_type, email, via) VALUES (false, #[SubscriptionType], #[email.replace(&quot;%40&quot;, &quot;@&quot;)], #[sessionVars['clientType']]);"/>
	    </jdbc-ee:outbound-endpoint>
	    <set-payload doc:name="Subscription Added" value="This email added a subscription to our service."/>
	    <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="imdbcrawler%40gmail.com" password="KUctziBCOxkE" to="#[email.replace(&quot;%40&quot;, &quot;@&quot;)]" from="imdbcrawler@gmail.com" subject="New subscription" responseTimeout="10000" doc:name="SMTP"/>
    </sub-flow>
    <sub-flow name="unSubscribeUser" doc:name="unSubscribeUser">
	    <set-variable variableName="#['email']" value="#[header:INBOUND:email]" doc:name="email"/>
	    <jdbc-ee:outbound-endpoint exchange-pattern="one-way" queryTimeout="-1" connector-ref="MovieDatabase" doc:name="Unsubscribe" queryKey="Remove Subscription">
	        <jdbc-ee:query key="Remove Subscription" value="DELETE FROM subscription WHERE email = #[email.replace(&quot;%40&quot;, &quot;@&quot;)]"/>
	    </jdbc-ee:outbound-endpoint>
	    <set-payload doc:name="Subscription Deleted" value="This email removed the subscription to our service."/>
	    <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="imdbcrawler%40gmail.com" password="imdbcrawler%40gmail.com" to="#[email.replace(&quot;%40&quot;, &quot;@&quot;)]" from="imdbcrawler@gmail.com" subject="Removed Subscription" responseTimeout="10000" doc:name="SMTP"/>
    </sub-flow>
    <sub-flow name="OperationType" doc:name="OperationType">
        <set-variable variableName="#['type']" value="#[header:INBOUND:type]" doc:name="Set Operation Type"/>
        <choice doc:name="Choice">
            <when expression="#[type == 'subscribe']">
                <flow-ref name="SubscribeUser" doc:name="Subscribe"/>
            </when>
            <when expression="#[type=='unsubscribe']">
                <flow-ref name="unSubscribeUser" doc:name="Unsubscribe"/>
            </when>
            <otherwise>
                <set-payload value="#['Invalid option']" doc:name="Invalid"/>
            </otherwise>
        </choice>
    </sub-flow>

    <flow name="HTMLSubscribeMovieFlow" doc:name="HTMLSubscribeMovieFlow">
        <http:inbound-endpoint  exchange-pattern="request-response"  host="localhost" port="8081" doc:name="HTTP" path="htmlSubscribe"/>
        <set-session-variable variableName="#['clientType']" value="#['web']" doc:name="Set Client Type"/>
        <flow-ref name="OperationType" doc:name="CheckOperation"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload value="Impossible to terminate operation" doc:name="Set Payload"/>
        </catch-exception-strategy>

    </flow>
    <flow name="SoapMovieSubscriptionFlow" doc:name="SoapMovieSubscriptionFlow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" doc:name="HTTP" path="MovieSubscribe"/>
        <logger message="Got a Soap Request to subscribe" level="DEBUG" doc:name="Soap Request"/>
        <cxf:jaxws-service  doc:name="SOAP" serviceClass="services.ISubscribeFavorites"/>
        <component doc:name="Java" class="services.SubscribeFavorites"/>
        <flow-ref name="OperationType" doc:name="CheckOperation"/>

    </flow>
</mule>
