TP3/istp3/src/main/app/moviesubscription.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <jdbc-ee:postgresql-data-source name="ProjectDB" user="postgres" password="postgres" url="jdbc:postgresql://localhost:5432/istp3" transactionIsolation="UNSPECIFIED" doc:name="PostgreSQL Data Source"/>
    <jdbc-ee:connector name="MovieDatabase" dataSource-ref="ProjectDB" validateConnections="true" queryTimeout="-1" pollingFrequency="0" doc:name="Database"/>
    <sub-flow name="SubscribeUser" doc:name="SubscribeUser">
        <choice doc:name="Choice">
            <when expression="#[message.payload[0].TOTAL &gt; 0]">
                <jdbc-ee:outbound-endpoint exchange-pattern="one-way"  queryTimeout="-1" doc:name="Add Subscription" connector-ref="MovieDatabase" queryKey="Add Subscription">
                    <jdbc-ee:query key="Add Subscription" value="INSERT INTO subscription VALUES (active, type, email, via) VALUES (false, #[SessionVars['Userdata']['subscriptionType']], #[SessionVars['Userdata']['email']], 'web')"/>
                </jdbc-ee:outbound-endpoint>
                <set-payload doc:name="Subscription Added" value="afsafasfasf"/>
            </when>
            <otherwise>
                <set-payload doc:name="User already Registed" value="sfasfsafasf"/>
            </otherwise>
        </choice>
    </sub-flow>
    <sub-flow name="unSubscribeUser" doc:name="unSubscribeUser">
        <choice doc:name="Choice">
            <when expression="#[message.payload[0].TOTAL &gt; 0]">
                <jdbc-ee:outbound-endpoint exchange-pattern="one-way" queryTimeout="-1" connector-ref="MovieDatabase" doc:name="Unsubscribe" queryKey="Remove Subscription">
                    <jdbc-ee:query key="Remove Subscription" value="DELETE FROM subscription WHERE lower(email) like #[SessionVars['Userdata']['email']]"/>
                </jdbc-ee:outbound-endpoint>
                <set-payload doc:name="Subscription Deleted" value="sdasfsafsaf"/>
            </when>
            <otherwise>
                <set-payload doc:name="User Not Found" value="safasfsafas"/>
            </otherwise>
        </choice>
    </sub-flow>
    <sub-flow name="OperationType" doc:name="OperationType">
        <set-session-variable variableName="Userdata" value="#[payload]" doc:name="StoreInfo"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="Get User" queryTimeout="-1" connector-ref="MovieDatabase" doc:name="Search for Email">
            <jdbc-ee:query key="Get User" value="Select * From subscrition where lower(email) like lower(#[SessionVars['Userdata']['email']])"/>
        </jdbc-ee:outbound-endpoint>
        <choice doc:name="Choice">
            <when expression="#[SessionVars['Userdata']['type']=='subscribe'">
                <flow-ref name="SubscribeUser" doc:name="Subscribe"/>
            </when>
            <when expression="#[SessionVars['Userdata']['type']=='unsubscribe'">
                <flow-ref name="unSubscribeUser" doc:name="Unsubscribe"/>
            </when>
        </choice>
		<set-payload value="#[payload]" doc:name="Set Email"/>
        <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="imdbcrawler%40gmail.com" password="KUctziBCOxkE" to="jooaooferreira@gmail.com, jfms7s@gmail.com" from="imdbcrawler@gmail.com" subject="Tiramos te as bolachas" responseTimeout="10000" doc:name="SMTP"/>
    </sub-flow>

    <flow name="HTMLSubscribeMovieFlow" doc:name="HTMLSubscribeMovieFlow">
        <http:inbound-endpoint  exchange-pattern="request-response"  host="localhost" port="8081" doc:name="HTTP" path="htmlSubscribe" />
        <logger message="#[header:INBOUND:email]" level="INFO" doc:name="Post Request"/>
        <flow-ref name="OperationType" doc:name="CheckOperation"/>

    </flow>
    <flow name="SoapMovieSubscriptionFlow" doc:name="SoapMovieSubscriptionFlow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" doc:name="HTTP" path="MovieSubscribe"/>
        <logger message="Got a Soap Request to subscribe" level="DEBUG" doc:name="Soap Request"/>
        <cxf:jaxws-service  doc:name="SOAP" serviceClass="services.ISubscribeFavorites"/>
        <component doc:name="Java" class="services.SubscribeFavorites"/>
        <flow-ref name="OperationType" doc:name="CheckOperation"/>

    </flow>
</mule>
